/* GENERAL styles */
body {
  background-color: black;
  color:white;
}

body::-webkit-scrollbar {
  background-color: silver;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

/* NAVBAR COMPONENT */
.navbar-GE {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-title-GE,
.navbar-links-GE {
  padding: 12px 10px;
}

.fa-tools {
	font-size: 1.4rem;
}

.navbar-title-GE {
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
	margin-left: 2rem;
	text-transform: uppercase;
}

.navbar-title-main {
	font-size: 1.6rem;
}

.navbar-links-GE {
  margin-right: 2rem;
}

.navbar-navlink-GE {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar-navlink-GE:focus {
	border-bottom: 2px solid orange;
	outline: none;
	padding-bottom: .5rem;

}


/* .navbar-navlink-GE {
  color: orange;
} TODO-------------------------------*/

.navbar-navlink-GE:hover {
	color: white;
	border-bottom: 2px solid orange;
	padding-bottom: .5rem;
	text-decoration: none;
}

/* CARD COMPONENT */
.card-GE {
  color: rgba(253, 238, 208, 0.938);
  background-color: rgb(20, 20, 20);
  box-shadow: 5px 5px 5px rgba(192, 192, 192, 0.068);
  border-radius: 10px;
  transition: all .5s ease;
  position: relative;
  width: auto;
}

.card-GE:hover {
  transform: scale(1.02);
}

.card-info-GE {
  padding: 15px 20px 10px 20px;
}

.card-name-GE {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
}

.card-rating-GE {
  font-size: 1.1rem;
}

.card-price-GE {
  padding-top: 3px;
  color:  orange;
  font-weight: 400;
}


.card-job-GE {
  font-size: 1rem;
  color: rgb(126, 126, 126);
  margin-top: -10px;
}

.fas, .far {
  color: orange;
}

.card-description-GE {
  color: white;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
  text-align: justify;
}

.card-profile-GE {
  border-radius: 4px;
  color: black;
  font-weight: 500;
  display: inline-block;
  background-color: orange;
  padding: 5px 20px;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-profile-GE:hover {
  /* opacity: .8; */
  background-color: rgb(238, 182, 0);
  box-shadow: 0 0 3px orange;
  color: black;
  text-decoration: none;
}


/* CARDLIST COMPONENT */
.card-list-GE {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.card-img-GE {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.d-block
{
  filter:brightness(30%);
  height: 92vh;
  object-fit: cover;
}

.form-control {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  border: 1px solid orange;
  box-shadow: 0 0 10px orange !important;
}

.button-search:hover {
  background-color: orange;
  color: black;
  opacity: 0.8;
}

.fa-arrow-down {
	color: black;
}

.fa-search {
	color: black;
}

/* FOOTER */

.footerGeneral {
  background-color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-nav-menu {
  display: flex;
  flex-direction: column;
}

.footer-nav-menu-item {
  color: white;
  padding: .3rem;
  transition: transform .5s ease;
  margin: .5rem 0;
}

.footer-nav-menu-item:hover {
  color: orange;
  transform: translateX(1rem);
  text-decoration: none;
}

.footer-line {
  border: 1px solid silver;
  margin: 1rem auto 2rem;
  opacity: .2;
  width: 80%;
}

.footer-nav-social-media {
  display: flex;
  flex-direction: column;
}

.footer-nav-social-media .fab {
  margin-right: .5rem;
}

.fab {
  font-size: 2rem;
  padding: .2rem;
}

.footer-nav-social-media-item {
  color: white;
  font-size: 1rem;
  padding: .3rem;
  transition: transform .5s ease;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-nav-social-media-item:hover {
  color: orange;
  transform: translateX(1rem);
  text-decoration: none;
}

.footer-title h6 {
  color: orange;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  opacity: .8;
}

/* ABOUTUSPAGE styles*/

.aboutUs-container {
  margin: auto;
  margin-bottom: 10rem;
}

.aboutUs-container h2 {
  
}

.aboutUs-container p.our-description {
  text-align: justify;
  line-height: 2rem;
  margin: auto;
}

.aboutUs-container p.address {
  margin-top: 2rem;
  text-align: justify;
  line-height: 2rem;
}

.carousel-caption {
  padding: 0px 15px;
}

.aboutUs-nosotros {
  height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.aboutus-title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
  text-align: center;
}

.aboutUs-movv{
  background-image: url("./assets/fondo-aboutus.png");
  background-color: white;
  color: white;
  height: 100vh;
  padding-top: 6rem;
  width: auto;
}

.aboutus-container {
  color: rgba(253, 238, 208, 0.938);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  row-gap: 3rem;
  max-width: 1024px;
  margin: auto;
  text-align: center;
}

.aboutus-movv-title {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.aboutUs-info-card{
  margin: auto;
  text-align: justify;
  width: 80%;
}

.aboutus-equipo {
  padding-top: 6rem;
  height: 100vh;
}

.equipo-title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.equipo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.equipo-integrante{
  display: flex;
  min-height: 350px;
  flex-direction: column;
  width: 220px;
}

.equipo-contenedor-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.equipo-imagen {
  border-radius: 5px;
  height: auto;
  margin: 0px auto;
  width: 90%;
}

.integrante-info {
  margin: 8px auto 32px auto;
}

.integrante-nombre {
  color: orange;
  font-size: 1.5em;
  margin-top: .5rem;
  text-align: center;
}

.integrante-puesto {
  color: rgba(192, 192, 192, 0.637);
  font-size: 1rem;
  margin-top: -.5rem;
  text-align: center;
}

.integrante-descripcion {
  color: white;
  font-size: 1em;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: initial;
}

/* SIDEBAR COMPONENT */
.service-page-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-top: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 200px;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: .9rem;
  margin-bottom: .6rem;
  outline: none;
  padding-left: 1.2rem;
  text-align: left;
  transition: all .18s ease;
}

.sidebar-button:hover {
  color: orange;
  margin-left: .7rem;
}

.sidebar-availables {
  color: rgba(192, 192, 192, 0.774);
}

.banner-title {
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.356);
  font-size: 5rem;
  padding-bottom: 2rem;
}

.video-container {
	background-color: black;
	height: 100vh;
	top: 0;
	left: 0;
	margin-bottom: 5rem;
	margin-top: -3.9rem;
	width: 100%;
}

.video {
	filter: brightness(40%);
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.rating-title{
  margin: auto;
  margin-top:8rem;
  text-align:center;
  padding-bottom: 5rem;
}

.carousel-caption{
  position: absolute;
  top:50%;
  left:15%;
  z-index: 10;
}

.search-box-GE {
	width: 100%;
}

.search-select {
	background-color: orange;
	border: none;
	border-radius: 10px 0px 0px 10px;
	cursor: pointer;
	color: black;
  padding: 10px 20px;
	font-size: 1.2rem;
	font-weight: 700;
	outline: none;
	position: relative;
  width: 20%;
}

.search-select:hover {
	opacity: .8;
}

.search-option {
	appearance: none;
	border-radius: 5px;
	background-color: orange;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	width: 100vw;
}

.search-option:hover {
	background-color: red;
	cursor: pointer;
}

.search-input{
	background-color: transparent;
	border: none;
	border-top: 2px solid orange;
	border-bottom: 2px solid orange;
	color: white;
  padding: 8px 20px;
	font-size: 1.2rem;	
  width: 65%;
  outline: none;
}

.search-input::placeholder {
	color: silver;
	opacity: .8;
}


.search-option:hover {
	background-color: red;
}

.button-search {
  background-color: orange;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 15px;
  width: 15%;
  border: none;
  border-radius: 10px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

.button-search:hover {
	opacity: .9;
  outline: none;
}

.services-box-GE {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.search-services-container {
  padding-bottom: 2.3rem;
  width: 1024px;
}

/* LOGIN */

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 8rem;
  padding: 4rem 2rem 2rem 2rem;
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
}


.input-user, .input-pass {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.input-user:focus, .input-pass:focus {
  background-color: rgba(255, 166, 0, 0.226);
}

.login-button {
  border: none;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  outline: none;
}

.login-button:hover {
  opacity: .9;
}

.login-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: rgb(240, 159, 9);
  text-align: center;
}

.login-container-button{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-top: -5rem;
  align-items: center;
}

.login-space {
  background-color: red;
  visibility: hidden;
  width: 2rem;
}

.login-button-principal {
  background-color: black;
  border-radius: 5px;
  border: 2px solid orange;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 20px 40px;
  transition: all .3s ease;
  width: 300px;
}

.login-button-principal:hover {
  transform: scale(1.1);
}

.login-button-principal-2:hover, .login-button-principal-1:hover{
  background-color: rgba(0, 0, 0, 0.945)
}

.login-title-principal{
  font-size: 2rem;
  font-weight: 800;
  color:orange;
  padding: 4rem 2rem;
  text-align: center;
}

.login-create {
  color: royalblue;
  font-weight: 500;
  display: block;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

/* SIGNUP */
.signup-professional, .signup-user {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-width: 500px;
  margin: auto;
  margin-top: 6rem;
  border-radius: 5px;
}

.signup-input , .signup-textarea {
  color: gray;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.signup-label {
  color: black;
  font-weight: 700;
}

.signup-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: rgb(240, 159, 9);
  text-align: center;
}

.signup-input:focus , .signup-textarea:focus {
  background-color: rgba(255, 166, 0, 0.301);
}

.signup-button {
  border: none;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;   
  outline: none;
}

.signup-button:hover {
  opacity: .9;
}

.send-request-success {
  text-align: center;
  color: green;
  font-weight: 600;
  font-size: 1.5rem;
}

/* PROFESSIONAL PROFILE COMPONENT */

.profile-container {
  background-color: orange;
  height: 60vh;
  margin-bottom: 20rem;
  position: relative;
}

.profile-card {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.397);
  display: flex;

  background: rgba(255,165,0,1);
  background: -moz-linear-gradient(left, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,165,0,1)), color-stop(24%, rgba(255,165,0,1)), color-stop(24%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa500', endColorstr='#ffffff', GradientType=1 );


  height: 95%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  z-index: 1000;
}

.profile-button-back {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.212);
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: 500;
  padding: 1rem 1.3rem;
  position: absolute;
  top: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  outline: none;
  right: -10rem;
}

.profile-button-back:hover {
  color: black;
  padding: 1.2rem 1.3rem;
  text-decoration: none;
}

.button-back-text {
  font-size: 1rem;
  margin-left: .5rem;
}

.profile-img-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
}

.profile-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.profile-info {
  padding: 2rem 0;
  width: 50%;
}

.profile-job {
  background-color: rgb(117, 117, 117);
  font-size: .8rem;
  font-weight: 700;
  padding: .3rem;
}

.icon-favorite {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon-favorite .far {
  color: gray;
  transition: all 0.5s ease;
}

.icon-favorite .fas {
  color: red;
  transition: all 0.5s ease;
}

.icon-favorite .far:hover {
  transform: scale(1.3);
  color: red;
}

.icon-favorite .fas:hover {
  transform: scale(1.3);
  color: grey;
}

.profile-rating {
  /* margin-left: 40%; */
}

.profile-zone {
  color: black;
  font-weight: 700;
}

.profile-name {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: -.5rem;;
}

.profile-description {
  color: gray;
  margin-top: 0rem;
}

.profile-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  outline: none;
  padding: .5rem;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  text-align: center;
  width: 40%;
  animation: buttonEffect 2s ease infinite;
}

.fa-chevron-circle-left {
  color: black;
  font-size: 1.5rem;
}

@keyframes buttonEffect {
  0% {
    background-color: black;
  }

  50% {
    background-color: rgb(29, 18, 2);
    
    transform: scale(1.03);
  }

  100% {
    background-color: black;
  }
}

.profile-button:hover {
  color: white;
  opacity: .9;
  text-decoration: none;
}

.profile-button-text {
  font-weight: 500;
  font-size: 1.3rem;
}

.profile-currency {
  color: orange;
  font-size: 1rem;
  font-weight: 400;
  margin-left: .5rem;
  text-transform: uppercase;
}

.profile-price {
  color: orange;
  font-size: 1.4rem;
  font-weight: 600;
}

/* BUTTON UP COMPONENT */

.button-up {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  right: 0;
  margin: 1rem;
  margin-left: 90vw;
  margin-top: 200vh;
}

.fa-arrow-circle-up {
  font-size: 3rem;
}

/* TESTIMONIAL LIST */
.testimonial-container {
  background-image: url("./assets/pattern.png");
  background-color: white;
  margin-top: 6rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.testimonial-title-main {
  background-color: transparent;
  color: black;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 700;
  margin-left: 41%;
  margin-bottom: -1rem;
  text-align: center;
  width: auto;
}

.testimonial-subtitle-main {
  color: gray;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.testimonial-container {
  background-image: url("./assets/pattern.png");
}

.testimonial-list {
  background-image: url("./assets/pattern.png");
  background-color: white;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  text-align: center;
  padding: 2rem;
}

.testimonial {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  padding: 2rem;
  position: relative;
}

.fa-quote-right {
  background-color: orange;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  top: -1rem;
  left: 2rem;
}

.testimonial-img {
  border-radius: 100%;
  height: 150px;
  margin-bottom: 1rem;
  width: 150px;
}

.testimonial-description {
  color: grey;
  font-size: 1rem;
}

.testimonial-title {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
}

.testimonial-location,
.testimonial-state {
  font-size: .8rem;
}

.testimonial-location {
  color: grey;
}

.testimonial-state {
  color: orange;
}