.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-block
{
  filter:saturate(70%);
  height: 700px;

}

.button-search{
  background-color:#14274e;
  color: white;
}

.footerGeneral{
  background-color: black;
  color: #FFFFFF;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  padding: 40px;
  margin-top: 80px;
  width: 100%;
  align-items: flex-end;
}