/* NAVBAR COMPONENT */
.navbar {
  align-items: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 0 5px black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-title,
.navbar-links {
  padding: 0px 10px;
}

.navbar-title {
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  margin-left: 2rem;
}

.navbar-links {
  margin-right: 2rem;
}

.navbar-navlink {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar-navlink:hover {
  color: white;
  text-decoration: underline;
}

/* CARD COMPONENT */
.card {
  box-shadow: 5px 5px 5px rgba(192, 192, 192, 0.479);
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.836);
  transition: all .5s ease;
  position: relative;
  width: auto;
}

.card:hover {
  transform: scale(1.02);
}

.card-info {
  padding: 5px 10px 10px 10px;
}

.card-name {
  font-size: 1.2rem;
  position: relative;
}

.card-price {
  color: black;
  font-weight: 400;
  position: absolute;
  right: 0;
}

.card-job {
  color: silver;
  margin-top: -20px;
}

.fas, .far {
  color: orange;
}

.card-description {
  padding-bottom: 2.5rem;
}

.card-profile {
  border-radius: 4px;
  color: white;
  display: inline-block;
  background-color: black;
  padding: 5px 20px;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin-top: 1rem;
}

.card-profile:hover {
  opacity: .9;
}


/* CARDLIST COMPONENT */
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  max-width: 1024px;
  margin: auto;
  padding: 5rem 0 5rem 0;
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}